.navbar-menu {
  .logo {
    height: 100%;
    width: 100%;
  }

  .navbar {
    background: transparent;
  }

  .navbar-item,
  .navbar-link {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: #ddd;
    }
  }
}

.navbar-burger span {
  background: $white;
}

.navbar-item,
.navbar-link {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: $desktop - 1px) {
  .navbar-menu.is-active {
    background: rgba(255,255,255,.1);
  }
}
